<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Tech Blog</title>
    <meta
      name="description"
      content="A pure HTML example, without dependencies."
    />

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    />
  </head>

  <body>
    <!-- Header -->
    <header class="container">
      <nav>
        <ul>
          <li><h1>Tech Blog</h1></li>
        </ul>
        <ul>
          <li><a href="/" class="contrast">Home</a></li>
          <li><a href="/dashboard" class="contrast">Dashboard</a></li>
          {{#if logged_in}}
          <li><a href="#" class="contrast" id="logout">Logout</a></li>
          {{else}}
          <li><a href="/login" class="contrast">Login</a></li>
          <li><a href="/signup" class="contrast">Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <!-- ./ Header -->
    <!-- ./ Main -->
    <main class="container">
      <div>{{{body}}}</div>
    </main>
    <!-- ./ Main -->
{{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</html>
