<!-- ./ Main -->
<main class="container">
  <div class="grid">
    <article>
        <h3>{{title}}</h3>
        <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>
        <p>{{content}}</p>
    </article>
  </div>
</main>
