<main class="container">
  <div class="grid">
  <article>
    <div>
      <h3>Blog Post</h3>
          <fieldset>
            <form id="login">            
            <input id="username" type="text" name="text" placeholder="username" aria-label="Text" />
            <input id="password" type="text" name="text" placeholder="password" aria-label="Text" />
          </fieldset>
          <button type="submit">Log In</button>
    </div>
  </article> 
  </div>
  </main>
