<div class="container">
  <div class="grid">
      <div>
        <h3>Login</h3>
        <form id="login">
          <fieldset>
            <input
              id="username"
              type="text"
              name="text"
              placeholder="username"
              aria-label="Text"
            />
            <input
              id="password"
              type="password"
              name="text"
              placeholder="password"
              aria-label="Text"
            />
          </fieldset>
          <button type="submit">Log In</button>
        </form>
      </div>
  </div>
</div>

<script src="/js/login.js"></script>