<div class="container">
  <div class="grid">
    <h3>Blog Post</h3>
    <form id="new-post">

      <fieldset>
        <input
          id="title"
          type="text"
          name="text"
          placeholder="Title"
          aria-label="Text"
        />
        <input
          id="content"
          type="text"
          name="text"
          placeholder="Content"
          aria-label="Text"
        />
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<script src="/js/new-post.js"></script>