<main class="container">
  <div class="grid">
  <article>
    <div>
      <h3>Blog Post</h3>
          <fieldset>
            <form id="new-post">            
            <input id="title" type="text" name="text" placeholder="Title" aria-label="Text" />
            <input id="content" type="text" name="text" placeholder="Content" aria-label="Text" />
          </fieldset>
          <button type="submit">Submit</button>
    </div>
  </article> 
  </div>
  </main>
