<!-- ./ Main -->
<div class="container">
  <div class="grid">
    <div>
      <h3>Sign up</h3>
      <form id="signup">
        <fieldset>
          <input
            id="username-signup"
            type="text"
            name="text"
            placeholder="Username"
            aria-label="Text"
          />
          <input
            id="password-signup"
            type="password"
            name="text"
            placeholder="Password"
            aria-label="Text"
          />
        </fieldset>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>