<!-- ./ Main -->
<main class="container">
  <div class="grid">
  <article>
    <div>
      <h3>Sign up</h3>
          <fieldset>
            <form id="signup-form">            
            <input id="username" type="text" name="text" placeholder="Username" aria-label="Text" />
            <input id="email" type="text" name="text" placeholder="Email" aria-label="Text" />
            <input id="password" type="text" name="text" placeholder="Password" aria-label="Text" />
          </fieldset>
          <button type="submit">Submit</button>
    </div>
  </article> 
  </div>
  </main>
